/*
Cobo Wallet as a Service 2.0

Contact: help@cobo.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cobo_waas2

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// InternalFeeEngineAPIService InternalFeeEngineAPI service
type InternalFeeEngineAPIService service

type ApiGetCommissionFeeRequest struct {
	ctx context.Context
	ApiService *InternalFeeEngineAPIService
	requestId *string
	businessTypeId *int64
	amount *int64
	chainId *string
	tokenId *string
	walletId *string
	walletType *int32
	requestType *TransactionRequestTypeParams
	strategyContext *map[string]interface{}
}

// Unique request identifier
func (r ApiGetCommissionFeeRequest) RequestId(requestId string) ApiGetCommissionFeeRequest {
	r.requestId = &requestId
	return r
}

func (r ApiGetCommissionFeeRequest) BusinessTypeId(businessTypeId int64) ApiGetCommissionFeeRequest {
	r.businessTypeId = &businessTypeId
	return r
}

// Transaction amount in smallest unit
func (r ApiGetCommissionFeeRequest) Amount(amount int64) ApiGetCommissionFeeRequest {
	r.amount = &amount
	return r
}

// Blockchain chain ID
func (r ApiGetCommissionFeeRequest) ChainId(chainId string) ApiGetCommissionFeeRequest {
	r.chainId = &chainId
	return r
}

// Token ID
func (r ApiGetCommissionFeeRequest) TokenId(tokenId string) ApiGetCommissionFeeRequest {
	r.tokenId = &tokenId
	return r
}

// Wallet ID
func (r ApiGetCommissionFeeRequest) WalletId(walletId string) ApiGetCommissionFeeRequest {
	r.walletId = &walletId
	return r
}

// Wallet type
func (r ApiGetCommissionFeeRequest) WalletType(walletType int32) ApiGetCommissionFeeRequest {
	r.walletType = &walletType
	return r
}

func (r ApiGetCommissionFeeRequest) RequestType(requestType TransactionRequestTypeParams) ApiGetCommissionFeeRequest {
	r.requestType = &requestType
	return r
}

// Strategy context parameters. 
func (r ApiGetCommissionFeeRequest) StrategyContext(strategyContext map[string]interface{}) ApiGetCommissionFeeRequest {
	r.strategyContext = &strategyContext
	return r
}

func (r ApiGetCommissionFeeRequest) Execute() ([]CommissionFeeDetail, *http.Response, error) {
	return r.ApiService.GetCommissionFeeExecute(r)
}

/*
GetCommissionFee Get commission fee

This operation retrieves commission fee.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCommissionFeeRequest
*/
func (a *InternalFeeEngineAPIService) GetCommissionFee(ctx context.Context) ApiGetCommissionFeeRequest {
	return ApiGetCommissionFeeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CommissionFeeDetail
func (a *InternalFeeEngineAPIService) GetCommissionFeeExecute(r ApiGetCommissionFeeRequest) ([]CommissionFeeDetail, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CommissionFeeDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternalFeeEngineAPIService.GetCommissionFee")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/internal/commission_fee"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestId == nil {
		return localVarReturnValue, nil, reportError("requestId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "request_id", r.requestId, "")
	if r.businessTypeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "business_type_id", r.businessTypeId, "")
	}
	if r.amount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "amount", r.amount, "")
	}
	if r.chainId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "chain_id", r.chainId, "")
	}
	if r.tokenId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token_id", r.tokenId, "")
	}
	if r.walletId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "wallet_id", r.walletId, "")
	}
	if r.walletType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "wallet_type", r.walletType, "")
	}
	if r.requestType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request_type", r.requestType, "")
	}
	if r.strategyContext != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "strategy_context", r.strategyContext, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
