openapi: 3.0.3
info:
  contact:
    email: support@cobo.com
    name: Cobo WaaS
    url: https://www.cobo.com/waas
  description: |
    Cobo WaaS 2.0 enables you to programmatically access Cobo's full suite of
    crypto wallet technologies with powerful and flexible access controls.

    # Wallet technologies
    - Custodial Wallet
    - MPC Wallet
    - Smart Contract Wallet (Based on Safe{Wallet})
    - Exchange Wallet

    # Risk Control technologies
    - Workflow
    - Access Control List (ACL)

    # Risk Control targets
    - Wallet Management
      - User/team and their permission management
      - Risk control configurations, e.g. whitelist, blacklist, rate-limiting etc.
    - Blockchain Interaction
      - Crypto transfer
      - Smart Contract Invocation

    # Important
    HTTPS only. RESTful, resource oriented

    # Get Started
    Set up your APIs or get authorization

    # Authentication and Authorization
    CoboAuth

    # Request and Response
    application/json

    # Error Handling

    ### Common error codes
    | Error Code | Description |
    | -- | -- |

    ### API-specific error codes
    For error codes that are dedicated to a specific API, see the Error codes section in each API specification, for example, /v3/wallets.

    # Rate and Usage Limiting

    # Idempotent Request

    # Pagination
    # Support
    [Developer Hub](https://cobo.com/developers)
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://cobo.com/waas/tos/
  title: Cobo Wallet as a Service 2.0
  version: 1.0.0
servers:
- description: Production environment
  url: https://api.cobo.com/v3
- description: Development environment
  url: https://api.dev.cobo.com/v3
security:
- CoboAuth: []
tags:
- description: Operations related to all wallets.
  name: Wallets
- description: Operations related to mpc wallet.
  name: Wallets - MPC Wallet
- description: Operations related to exchange wallet.
  name: Wallets - Exchange Wallet
- description: Operations related to all transactions.
  name: Transactions
- description: Operations related to webhooks.
  name: Developers - Webhooks
paths:
  /wallets/chains:
    get:
      description: Retrieve a list of chain metadata.
      operationId: get_chains
      parameters:
      - description: Unique id of the chain
        example: ETH
        explode: true
        in: query
        name: chain_id
        required: false
        schema:
          type: string
        style: form
      - description: size of page to return (pagination)
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_chains_200_response'
          description: Successfully listed chains
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: List the metadata of chain
      tags:
      - Wallets
  /wallets/assets:
    get:
      description: Retrieve a list of asset metadata.
      operationId: get_assets
      parameters:
      - description: Unique id of the asset
        example: USDT
        explode: true
        in: query
        name: asset_id
        required: false
        schema:
          type: string
        style: form
      - description: size of page to return (pagination)
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_assets_200_response'
          description: Successfully listed assets
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: List the metadata of assets
      tags:
      - Wallets
  /wallets/tokens:
    get:
      description: Retrieve a list of token metadata.
      operationId: get_tokens
      parameters:
      - description: Unique id of the token
        example: ETH_USDT
        explode: true
        in: query
        name: token_id
        required: false
        schema:
          type: string
        style: form
      - description: size of page to return (pagination)
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_tokens_200_response'
          description: Successfully listed tokens
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: List the metadata of tokens
      tags:
      - Wallets
  /wallets/supported_chains:
    get:
      description: Retrieve a list of supported chain.
      operationId: get_supported_chains
      parameters:
      - description: Wallet subtype to query
        explode: true
        in: query
        name: wallet_subtype
        required: true
        schema:
          $ref: '#/components/schemas/WalletSubtype'
        style: form
      - description: size of page to return (pagination)
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_chains_200_response'
          description: Successfully listed chains
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: List the supported chains by wallet subtype
      tags:
      - Wallets
  /wallets/supported_tokens:
    get:
      description: Retrieve a list of supported token.
      operationId: get_supported_tokens
      parameters:
      - description: Wallet subtype to query
        explode: true
        in: query
        name: wallet_subtype
        required: true
        schema:
          $ref: '#/components/schemas/WalletSubtype'
        style: form
      - description: Unique id of the chain
        example: ETH
        explode: true
        in: query
        name: chain_id
        required: false
        schema:
          type: string
        style: form
      - description: size of page to return (pagination)
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_tokens_200_response'
          description: Successfully listed tokens
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: List the supported tokens by wallet subtype and chain id if specified
      tags:
      - Wallets
  /wallets/{wallet_id}/tokens:
    get:
      description: Retrieve a list of token balance in wallet.
      operationId: get_wallet_token_balances
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the token
        example: ETH_USDT
        explode: true
        in: query
        name: token_id
        required: false
        schema:
          type: string
        style: form
      - description: size of page to return (pagination)
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_wallet_token_balances_200_response'
          description: Successfully listed tokens
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: List the token balance in the wallets(to be specific)
      tags:
      - Wallets
  /wallets/{wallet_id}/addresses/{address_id}/tokens:
    get:
      description: Retrieve a list of token balance by address in wallet.
      operationId: get_wallet_address_token_balances
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the address
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: address_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the token
        example: ETH_USDT
        explode: true
        in: query
        name: token_id
        required: false
        schema:
          type: string
        style: form
      - description: size of page to return (pagination)
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_wallet_token_balances_200_response'
          description: Successfully listed tokens
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: List the token balance by address in the wallets(to be specific)
      tags:
      - Wallets
  /wallets:
    get:
      description: Retrieve a list of wallets.
      operationId: list_wallets
      parameters:
      - description: Wallet type to query
        explode: true
        in: query
        name: wallet_type
        required: false
        schema:
          $ref: '#/components/schemas/WalletType'
        style: form
      - description: Wallet subtype to query
        explode: true
        in: query
        name: wallet_subtype
        required: false
        schema:
          $ref: '#/components/schemas/WalletSubtype'
        style: form
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: true
        in: query
        name: vault_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: size of page to return (pagination)
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_wallets_200_response'
          description: Successfully listed wallets
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Request
      security:
      - CoboAuth: []
      summary: List all wallets
      tags:
      - Wallets
    post:
      description: |
        ..More detailed explanation on creating a new wallet..

        Error codes this API may return:
        | Error Code | Description |
        | -- | -- |
        | `2003` | 必选参数缺失 |
        | `2006` | 参数格式或者值非法 |
      operationId: create_wallet
      requestBody:
        $ref: '#/components/requestBodies/createWalletBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletInfo'
          description: Successfully created wallet
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Request
      security:
      - CoboAuth: []
      summary: Create new wallet
      tags:
      - Wallets
  /wallets/{wallet_id}:
    delete:
      description: Delete a specific wallet by ID
      operationId: delete_wallet_by_id
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Resource successfully deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: Delete a wallet by ID
      tags:
      - Wallets
    get:
      description: Retrieve wallet information by ID
      operationId: get_wallet_by_id
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletInfo'
          description: Successful get a wallet info
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: Get wallet information by ID
      tags:
      - Wallets
    put:
      description: Update wallet info by ID
      operationId: update_wallet_by_id
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateWalletBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletInfo'
          description: Successfully updated address
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: Update wallet by ID
      tags:
      - Wallets
  /wallets/{wallet_id}/spendables:
    get:
      description: Retrieve a list of spendable utxo.
      operationId: get_spendable_list
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the token
        example: ETH_USDT
        explode: true
        in: query
        name: token_id
        required: true
        schema:
          type: string
        style: form
      - description: address
        example: 2N2xFZtbCFB6Nb3Pj9Sxsx5mX2fxX3yEgkE
        explode: true
        in: query
        name: address_str
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UTXO'
                type: array
          description: Successfully listed utxo
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: List the spendable utxo
      tags:
      - Wallets
  /wallets/{wallet_id}/max_sendable_value:
    get:
      description: Retrieve the maximum sendable vaule and the corresponding transaction
        fee for a given address.
      operationId: get_max_send_value
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: address
        example: 2N2xFZtbCFB6Nb3Pj9Sxsx5mX2fxX3yEgkE
        explode: true
        in: query
        name: to_address
        required: true
        schema:
          type: string
        style: form
      - description: address
        example: 2N2xFZtbCFB6Nb3Pj9Sxsx5mX2fxX3yEgkE
        explode: true
        in: query
        name: from_address
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSendValue'
          description: Successful operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: Get max sendable Vaule
      tags:
      - Wallets
  /wallets/{wallet_id}/addresses:
    get:
      description: Retrieve a list of addresses.
      operationId: list_addresses
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the token
        example: ETH_USDT
        explode: true
        in: query
        name: token_id
        required: false
        schema:
          type: string
        style: form
      - description: size of page to return (pagination)
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_addresses_200_response'
          description: Successfully listed addresses
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: List wallet addresses by wallet ID
      tags:
      - Wallets
    post:
      description: Add address to a wallet.
      operationId: add_wallet_address
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/createAddressBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AddressInfo'
                type: array
          description: Successfully created address for a wallet
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      security:
      - CoboAuth: []
      summary: Add address to a wallet
      tags:
      - Wallets
  /wallets/{wallet_id}/addresses/{address_id}:
    get:
      description: Retrieve wallet information by ID
      operationId: get_wallet_address_by_id
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the address
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: address_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressInfo'
          description: Successfully listed addresses
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: Get address information by ID
      tags:
      - Wallets
  /wallets/address/validity:
    get:
      description: Check if the given address valid.
      operationId: get_address_validity
      parameters:
      - description: Unique id of the token
        example: ETH_USDT
        explode: true
        in: query
        name: token_id
        required: true
        schema:
          type: string
        style: form
      - description: The address string
        example: 0x0000000000000000000000000000000000000000
        explode: true
        in: query
        name: address_str
        required: true
        schema:
          description: Then blockchain address
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_address_validity_200_response'
          description: Successfully get address validity
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: Get the given address validity for token
      tags:
      - Wallets
  /wallets/mpc/cobo_key_holders:
    get:
      description: Retrieve a list of key holders.
      operationId: list_cobo_key_holder
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/KeyHolder'
                type: array
          description: Successfully listed mpc tss groups
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unknown Internal Error
      security:
      - CoboAuth: []
      summary: List all cobo key holders
      tags:
      - Wallets - MPC Wallet
  /wallets/mpc/projects:
    get:
      description: Retrieve a list of mpc project.
      operationId: list_mpc_project
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MPCProject'
                type: array
          description: Successfully listed mpc projects
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Request
      security:
      - CoboAuth: []
      summary: List all mpc projects
      tags:
      - Wallets - MPC Wallet
    post:
      description: create a mpc project
      operationId: create_mpc_project
      requestBody:
        $ref: '#/components/requestBodies/createMpcProjectBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MPCProject'
          description: mpc project successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      security:
      - CoboAuth: []
      summary: Create a mpc project
      tags:
      - Wallets - MPC Wallet
  /wallets/mpc/projects/{project_id}:
    get:
      description: get a mpc vault
      operationId: get_mpc_project
      parameters:
      - description: Unique id of the mpc project
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MPCProject'
          description: Successfully listed mpc vaults
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unknown Internal Error
      security:
      - CoboAuth: []
      summary: get a mpc project
      tags:
      - Wallets - MPC Wallet
    put:
      description: update a mpc vault
      operationId: update_mpc_project
      parameters:
      - description: Unique id of the mpc project
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/updateProjectBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MPCProject'
          description: Successfully listed mpc vaults
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unknown Internal Error
      security:
      - CoboAuth: []
      summary: update a mpc project
      tags:
      - Wallets - MPC Wallet
  /wallets/mpc/vaults:
    get:
      description: Retrieve a list of mpc vault.
      operationId: list_mpc_vault
      parameters:
      - description: Unique id of the mpc project
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: true
        in: query
        name: project_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MPCVault'
                type: array
          description: Successfully listed mpc vaults
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Request
      security:
      - CoboAuth: []
      summary: List all mpc vaults
      tags:
      - Wallets - MPC Wallet
    post:
      description: create a mpc vault
      operationId: create_mpc_vault
      requestBody:
        $ref: '#/components/requestBodies/createMpcVaultBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MPCVault'
          description: mpc vault successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      security:
      - CoboAuth: []
      summary: Create a mpc vault
      tags:
      - Wallets - MPC Wallet
  /wallets/mpc/vaults/{vault_id}:
    get:
      description: get a mpc vault
      operationId: get_mpc_vault
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MPCVault'
          description: Successfully get mpc vault
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unknown Internal Error
      security:
      - CoboAuth: []
      summary: get a mpc vault
      tags:
      - Wallets - MPC Wallet
    put:
      description: modify a mpc vault
      operationId: modify_mpc_vault
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/updateVaultBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MPCVault'
          description: Successfully modify mpc vault
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Request
      security:
      - CoboAuth: []
      summary: Modify a mpc vault
      tags:
      - Wallets - MPC Wallet
  /wallets/mpc/vaults/{vault_id}/key_groups:
    get:
      description: Retrieve a list of mpc key groups.
      operationId: list_key_group
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The type of key group.
        explode: true
        in: query
        name: key_group_type
        required: false
        schema:
          $ref: '#/components/schemas/KeyGroupType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/KeyGroup'
                type: array
          description: Successfully listed mpc tss groups
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Request
      security:
      - CoboAuth: []
      summary: List all mpc key groups
      tags:
      - Wallets - MPC Wallet
    post:
      description: create a mpc key group.
      operationId: create_key_group
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/createKeyGroupBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyGroup'
          description: mpc vault successfully created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Request
      security:
      - CoboAuth: []
      summary: create a mpc key group
      tags:
      - Wallets - MPC Wallet
  /wallets/mpc/vaults/{vault_id}/key_groups/{key_group_id}:
    delete:
      description: delete a mpc key group.
      operationId: delete_key_group
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the tss group
        example: "880311524363903326"
        explode: false
        in: path
        name: key_group_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyGroup'
          description: Successfully deleted mpc tss group
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Request
      security:
      - CoboAuth: []
      summary: delete a mpc key group
      tags:
      - Wallets - MPC Wallet
    get:
      description: get a mpc key group.
      operationId: get_key_group
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the tss group
        example: "880311524363903326"
        explode: false
        in: path
        name: key_group_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyGroup'
          description: Successfully get mpc tss group
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unknown Internal Error
      security:
      - CoboAuth: []
      summary: get a mpc key group
      tags:
      - Wallets - MPC Wallet
    put:
      description: update a mpc key group.
      operationId: update_key_group
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the tss group
        example: "880311524363903326"
        explode: false
        in: path
        name: key_group_id
        required: true
        schema:
          type: string
        style: simple
      - description: The action of update key group
        explode: true
        in: query
        name: update_key_group_action
        required: true
        schema:
          description: the action of tss request.
          enum:
          - UpgradeToMainKeyGroup
          example: UpgradeToMainKeyGroup
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyGroup'
          description: Successfully modify mpc tss group
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Request
      security:
      - CoboAuth: []
      summary: update a mpc key group
      tags:
      - Wallets - MPC Wallet
  /wallets/mpc/vaults/{vault_id}/tss_requests:
    get:
      description: Detailed description on retrieving list of tss request information
      operationId: list_tss_request
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The target key group id of tss request.
        example: "880311524363903326"
        explode: true
        in: query
        name: target_key_group_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSSRequest'
          description: get mpc tss request successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unknown Internal Error
      security:
      - CoboAuth: []
      summary: List tss request information of a vault
      tags:
      - Wallets - MPC Wallet
    post:
      description: Create a tss request to generate key secrets for a tss group
      operationId: create_tss_request
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/createTssRequestBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSSRequest'
          description: mpc vault successfully created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Request
      security:
      - CoboAuth: []
      summary: Create a tss request to generate key secrets for a tss group
      tags:
      - Wallets - MPC Wallet
  /wallets/mpc/vaults/{vault_id}/tss_requests/{tss_request_id}:
    get:
      description: get a tss request.
      operationId: get_tss_request
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the tss request
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: tss_request_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSSRequest'
          description: get mpc tss request successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unknown Internal Error
      security:
      - CoboAuth: []
      summary: get a tss request
      tags:
      - Wallets - MPC Wallet
    put:
      description: cancel tss request.
      operationId: cancel_tss_request
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the tss request
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: tss_request_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The action of tss request.
        explode: true
        in: query
        name: tss_request_action
        required: true
        schema:
          description: the action of tss request.
          enum:
          - cancel
          example: cancel
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSSRequest'
          description: modify mpc tss request successfully
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Request
      security:
      - CoboAuth: []
      summary: cancel tss request
      tags:
      - Wallets - MPC Wallet
  /wallets/exchanges/{exchange_id}/supported_assets:
    get:
      description: Retrieve a list of supported asset.
      operationId: get_exchange_supported_assets
      parameters:
      - description: Exchange ID to query
        explode: false
        in: path
        name: exchange_id
        required: true
        schema:
          $ref: '#/components/schemas/ExchangeId'
        style: simple
      - description: size of page to return (pagination)
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_assets_200_response'
          description: Successfully listed assets
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: List the supported assets by exchange id
      tags:
      - Wallets - Exchange Wallet
  /wallets/exchanges/{exchange_id}/assets/supported_chains:
    get:
      description: Retrieve a list of supported chains.
      operationId: get_exchange_supported_chains
      parameters:
      - description: Exchange ID to query
        explode: false
        in: path
        name: exchange_id
        required: true
        schema:
          $ref: '#/components/schemas/ExchangeId'
        style: simple
      - description: Unique id of the asset
        example: USDT
        explode: true
        in: query
        name: asset_id
        required: true
        schema:
          type: string
        style: form
      - description: size of page to return (pagination)
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ChainInfo'
                type: array
          description: Successfully listed chains
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: List the supported chains by exchange id and asset id
      tags:
      - Wallets - Exchange Wallet
  /wallets/exchanges/{wallet_id}/assets:
    get:
      description: Retrieve a list of asset balance in exchange wallet.
      operationId: get_exchange_wallet_asset_balances
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the wallet
        example: SPOT
        explode: true
        in: query
        name: sub_wallet_id
        required: true
        schema:
          type: string
        style: form
      - description: Unique id of the asset
        example: USDT
        explode: true
        in: query
        name: asset_id
        required: false
        schema:
          type: string
        style: form
      - description: size of page to return (pagination)
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_exchange_wallet_asset_balances_200_response'
          description: Successfully listed tokens
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: List the asset balance in exchange wallet
      tags:
      - Wallets - Exchange Wallet
  /wallets/exchanges/settings:
    get:
      description: Retrieve a list of exchanges.
      operationId: list_exchanges
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/list_exchanges_200_response_inner'
                type: array
          description: Successfully list of exchange sub account ids
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Request
      security:
      - CoboAuth: []
      summary: List of exchanges
      tags:
      - Wallets - Exchange Wallet
  /wallets/{wallet_id}/exchanges/subaccounts:
    get:
      description: Retrieve a list of exchange sub accounts.
      operationId: list_sub_accounts_by_wallet_id
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Sub account id list
                example:
                - f47ac10b-58cc-4372-a567-0e02b2c3d479
                items:
                  type: string
                type: array
          description: Successfully list of exchange sub account ids
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: List exchange sub accounts by wallet id
      tags:
      - Wallets - Exchange Wallet
    post:
      description: Link exchange sub accounts.
      operationId: link_sub_accounts_by_wallet_id
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/link_sub_accounts_by_wallet_id_request'
        description: Request body for linking subaccounts
      responses:
        "201":
          content:
            application/json:
              schema:
                description: Sub account id list
                example:
                - f47ac10b-58cc-4372-a567-0e02b2c3d479
                items:
                  type: string
                type: array
          description: Successfully list of exchange sub account ids
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      security:
      - CoboAuth: []
      summary: Link exchange sub accounts by wallet id
      tags:
      - Wallets - Exchange Wallet
  /wallets/exchanges/{exchange_id}/subaccounts:
    get:
      description: Retrieve a list of exchange sub accounts.
      operationId: list_sub_accounts_by_apikey
      parameters:
      - description: Exchange ID to query
        explode: false
        in: path
        name: exchange_id
        required: true
        schema:
          $ref: '#/components/schemas/ExchangeId'
        style: simple
      - description: The API Key for the exchange
        example: d8f062da-39f4-4a11-8b9d-12595854237f
        explode: true
        in: query
        name: apikey
        required: false
        schema:
          type: string
        style: form
      - description: The API Secret for the exchange.
        example: 75B4F636193162488A3728B4A5797708
        explode: true
        in: query
        name: secret
        required: false
        schema:
          type: string
        style: form
      - description: The API passphrase for the exchange wallet.
        example: A3DBHJV
        explode: true
        in: query
        name: passphrase
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Sub account id list
                example:
                - f47ac10b-58cc-4372-a567-0e02b2c3d479
                items:
                  type: string
                type: array
          description: Successfully list of exchange sub account ids
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      security:
      - CoboAuth: []
      summary: List exchange sub accounts by apikey
      tags:
      - Wallets - Exchange Wallet
  /transactions/fee_price:
    get:
      description: Retrieve the fee price data.
      operationId: get_chain_fee_price
      parameters:
      - description: Unique id of the chain
        example: ETH
        explode: true
        in: query
        name: chain_id
        required: false
        schema:
          type: string
        style: form
      - description: Unique id of the token
        example: ETH_USDT
        explode: true
        in: query
        name: token_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainFeePrice'
          description: Successful get chain fee info
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: "Get the fee price data for chain and/or token(Hold, TBD after normalize\
        \ fee settings)"
      tags:
      - Transactions
  /transactions/estimate_fee:
    post:
      description: Estimate the transaction fee.
      operationId: estimate_fee
      requestBody:
        $ref: '#/components/requestBodies/estimateFeeBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionFee'
          description: Successful get a transaction detail
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: Estimate the fee for transaction
      tags:
      - Transactions
  /transactions/transfer:
    post:
      description: Create a transaction to transfer funds from one account to another.
      operationId: create_transfer_transaction
      requestBody:
        $ref: '#/components/requestBodies/createTransferBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_transfer_transaction_201_response'
          description: Successful create a smart contract call request
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      security:
      - CoboAuth: []
      summary: Create a transfer transaction
      tags:
      - Transactions
  /transactions/call:
    post:
      description: Create a transaction to call a smart contract.
      operationId: create_smart_contract_call_transaction
      requestBody:
        $ref: '#/components/requestBodies/createSmartContractCallBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_transfer_transaction_201_response'
          description: Successful create a smart contract call request
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      security:
      - CoboAuth: []
      summary: Create a smart contract call transaction
      tags:
      - Transactions
  /transactions/sign:
    post:
      description: Create a transaction to sign message.
      operationId: create_sign_message_transaction
      requestBody:
        $ref: '#/components/requestBodies/createMessageSignBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_transfer_transaction_201_response'
          description: Successful create a smart contract call request
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      security:
      - CoboAuth: []
      summary: Create a sign message transaction
      tags:
      - Transactions
  /transactions:
    get:
      description: Retrieve a list of transactions.
      operationId: list_transactions
      parameters:
      - description: Request ID
        example: web_send_by_user_327_1610444045047
        explode: true
        in: query
        name: request_id
        required: false
        schema:
          type: string
        style: form
      - description: Field of sort by
        example: timestamp
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Direction to sort by
        example: ASC
        explode: true
        in: query
        name: direction
        required: false
        schema:
          default: ""
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: size of page to return (pagination)
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_transactions_200_response'
          description: Successfully listed transactions
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too Many Request
      security:
      - CoboAuth: []
      summary: List all transactions
      tags:
      - Transactions
  /transactions/{transaction_id}:
    get:
      description: Detailed description on retrieving transaction information by id
      operationId: get_transaction_by_id
      parameters:
      - description: Unique id of the transaction
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionDetails'
          description: Successful get a transaction detail
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: Get transaction information by ID
      tags:
      - Transactions
    put:
      description: Update information of a transaction.
      operationId: update_transaciton_by_id
      parameters:
      - description: Unique id of the transaction
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionDetails'
        description: The request body to update a address
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionDetails'
          description: Successful get a transaction detail
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: Update transaction by ID
      tags:
      - Transactions
  /transactions/{transaction_id}/drop:
    post:
      description: Drop a transaction.
      operationId: drop_transaction_by_id
      parameters:
      - description: Unique id of the transaction
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/feeRequestBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_transfer_transaction_201_response'
          description: Successful create a smart contract call request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: Drop a transaction by ID
      tags:
      - Transactions
  /transactions/{transaction_id}/resend:
    post:
      description: Resend a transaction.
      operationId: resend_transaction_by_id
      parameters:
      - description: Unique id of the transaction
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_transfer_transaction_201_response'
          description: Successful create a smart contract call request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: Resend a transaction by ID
      tags:
      - Transactions
  /transactions/{transaction_id}/speedup:
    post:
      description: Speed up a transaction.
      operationId: speedup_transaction_by_id
      parameters:
      - description: Unique id of the transaction
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/feeRequestBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_transfer_transaction_201_response'
          description: Successful create a smart contract call request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: Speed up a transaction by ID
      tags:
      - Transactions
  /transactions/{transaction_id}/double_check/retry:
    post:
      description: Retry a transaction double-check.
      operationId: retry_transaction_double_check_by_id
      parameters:
      - description: Unique id of the transaction
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_transfer_transaction_201_response'
          description: Successful create a smart contract call request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      security:
      - CoboAuth: []
      summary: Retry up a transaction double-check by ID
      tags:
      - Transactions
  /webhooks/events/definitions:
    get:
      description: |
        This operation is used to retrieve a list of all supported event definitions in the current system.

        These event definitions include different event types that trigger webhooks, enabling custom notifications and integration features within the system. A successful call to this endpoint will return a detailed list of event definitions.
      operationId: list_webhook_event_definitions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/list_webhook_event_definitions_200_response_inner'
                type: array
          description: Get webhook event definitions successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
      summary: List all supported event definitions.
      tags:
      - Developers - Webhooks
  /webhooks/events:
    get:
      description: "This operation retrieves a list of events that have been triggered\
        \ within the system. \nThe retrieved list of events can be useful for monitoring\
        \ system activities, setting up event-driven workflows, and integrating with\
        \ external systems to respond to specific events.\n"
      operationId: list_events
      parameters:
      - description: The status of event.
        example: Success
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/WebhookEventStatus'
        style: form
      - description: |
          The type of event.
          Get event types by calling `List all supported event definitions`.
        example: asset_wallet.outbound.created
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/WebhookEventType'
        style: form
      - description: size of page to return (pagination)
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: before
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Cursor string received from previous request
        example: "123"
        explode: true
        in: query
        name: after
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_events_200_response'
          description: Successfully listed of webhook events.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
      summary: List triggered events.
      tags:
      - Developers - Webhooks
  /webhooks/events/{event_id}:
    get:
      description: |
        This operation is used to retrieve a webhook event information by its ID.
        Get event IDs by calling `List triggered events`.
      operationId: get_webhook_event
      parameters:
      - description: "Unique id of the webhook event, get event IDs by calling `List\
          \ triggered events`."
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEvent'
          description: Get webhook event info successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      summary: Retrieve webhook event information by event ID.
      tags:
      - Developers - Webhooks
  /webhooks/events/{event_id}/logs:
    get:
      description: |
        This operation is used to retrieve a list of webhook event logs by event ID.
        Get event IDs by calling `List triggered events`.
      operationId: get_webhook_event_logs
      parameters:
      - description: "Unique id of the webhook event, get event IDs by calling `List\
          \ triggered events`."
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WebhookEventLog'
                type: array
          description: Get webhook event logs successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      summary: List webhook event logs by event ID.
      tags:
      - Developers - Webhooks
  /webhooks/events/{event_id}/retry:
    post:
      description: |
        This operation is used to retry a webhook event by its ID.
        Events in `Retrying` or `Failed` status can be retried.
        Get event IDs by calling `List triggered events`.
      operationId: retry_webhook_event
      parameters:
      - description: "Unique id of the webhook event, get event IDs by calling `List\
          \ triggered events`."
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retry_webhook_event_201_response'
          description: Retry a failed event successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource Not Found
      summary: Retry webhook event by event ID.
      tags:
      - Developers - Webhooks
components:
  parameters:
    sortByParam:
      description: Field of sort by
      example: timestamp
      explode: true
      in: query
      name: sort_by
      required: false
      schema:
        default: ""
        type: string
      style: form
    directionParam:
      description: Direction to sort by
      example: ASC
      explode: true
      in: query
      name: direction
      required: false
      schema:
        default: ""
        enum:
        - ASC
        - DESC
        type: string
      style: form
    limitParam:
      description: size of page to return (pagination)
      example: 10
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 10
        format: int32
        type: integer
      style: form
    beforeParam:
      description: Cursor string received from previous request
      example: "123"
      explode: true
      in: query
      name: before
      required: false
      schema:
        default: ""
        type: string
      style: form
    afterParam:
      description: Cursor string received from previous request
      example: "123"
      explode: true
      in: query
      name: after
      required: false
      schema:
        default: ""
        type: string
      style: form
    optionalAssetIdParam:
      description: Unique id of the asset
      example: USDT
      explode: true
      in: query
      name: asset_id
      required: false
      schema:
        type: string
      style: form
    requiredAssetIdParam:
      description: Unique id of the asset
      example: USDT
      explode: true
      in: query
      name: asset_id
      required: true
      schema:
        type: string
      style: form
    optionalChainIdParam:
      description: Unique id of the chain
      example: ETH
      explode: true
      in: query
      name: chain_id
      required: false
      schema:
        type: string
      style: form
    optionalTokenIdParam:
      description: Unique id of the token
      example: ETH_USDT
      explode: true
      in: query
      name: token_id
      required: false
      schema:
        type: string
      style: form
    requiredTokenIdParam:
      description: Unique id of the token
      example: ETH_USDT
      explode: true
      in: query
      name: token_id
      required: true
      schema:
        type: string
      style: form
    requiredWalletSubtypeParam:
      description: Wallet subtype to query
      explode: true
      in: query
      name: wallet_subtype
      required: true
      schema:
        $ref: '#/components/schemas/WalletSubtype'
      style: form
    optionalWalletTypeParam:
      description: Wallet type to query
      explode: true
      in: query
      name: wallet_type
      required: false
      schema:
        $ref: '#/components/schemas/WalletType'
      style: form
    optionalWalletSubtypeParam:
      description: Wallet subtype to query
      explode: true
      in: query
      name: wallet_subtype
      required: false
      schema:
        $ref: '#/components/schemas/WalletSubtype'
      style: form
    walletIdParam:
      description: Unique id of the wallet
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      explode: false
      in: path
      name: wallet_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    addressIdParam:
      description: Unique id of the address
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      explode: false
      in: path
      name: address_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    requiredAddressStrParam:
      description: The address string
      example: 0x0000000000000000000000000000000000000000
      explode: true
      in: query
      name: address_str
      required: true
      schema:
        description: Then blockchain address
        type: string
      style: form
    requiredSubWalletIdParam:
      description: Unique id of the wallet
      example: SPOT
      explode: true
      in: query
      name: sub_wallet_id
      required: true
      schema:
        type: string
      style: form
    addressStrParam:
      description: address
      example: 2N2xFZtbCFB6Nb3Pj9Sxsx5mX2fxX3yEgkE
      explode: true
      in: query
      name: address_str
      required: false
      schema:
        type: string
      style: form
    toAddressStrParam:
      description: address
      example: 2N2xFZtbCFB6Nb3Pj9Sxsx5mX2fxX3yEgkE
      explode: true
      in: query
      name: to_address
      required: true
      schema:
        type: string
      style: form
    fromAddressStrParam:
      description: address
      example: 2N2xFZtbCFB6Nb3Pj9Sxsx5mX2fxX3yEgkE
      explode: true
      in: query
      name: from_address
      required: false
      schema:
        type: string
      style: form
    keyGroupIdParam:
      description: Unique id of the tss group
      example: "880311524363903326"
      explode: false
      in: path
      name: key_group_id
      required: true
      schema:
        type: string
      style: simple
    optionalKeyGroupTypeParam:
      description: The type of key group.
      explode: true
      in: query
      name: key_group_type
      required: false
      schema:
        $ref: '#/components/schemas/KeyGroupType'
      style: form
    projectIdParam:
      description: Unique id of the mpc project
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      explode: false
      in: path
      name: project_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    optionalTargetKeyGroupIDParam:
      description: The target key group id of tss request.
      example: "880311524363903326"
      explode: true
      in: query
      name: target_key_group_id
      required: false
      schema:
        type: string
      style: form
    requiredTssRequestActionParam:
      description: The action of tss request.
      explode: true
      in: query
      name: tss_request_action
      required: true
      schema:
        description: the action of tss request.
        enum:
        - cancel
        example: cancel
        type: string
      style: form
    tssRequestIdParam:
      description: Unique id of the tss request
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      explode: false
      in: path
      name: tss_request_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    requiredUpdateKeyGroupActionParam:
      description: The action of update key group
      explode: true
      in: query
      name: update_key_group_action
      required: true
      schema:
        description: the action of tss request.
        enum:
        - UpgradeToMainKeyGroup
        example: UpgradeToMainKeyGroup
        type: string
      style: form
    vaultIdParam:
      description: Unique id of the mpc vault
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      explode: false
      in: path
      name: vault_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    optionalVaultIdQueryParam:
      description: Unique id of the mpc vault
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      explode: true
      in: query
      name: vault_id
      required: false
      schema:
        format: uuid
        type: string
      style: form
    optionalVaultNameParam:
      description: Unique id of the mpc vault
      example: my vault name
      explode: true
      in: query
      name: vault_name
      required: false
      schema:
        type: string
      style: form
    exchangeIdParam:
      description: Exchange ID to query
      explode: false
      in: path
      name: exchange_id
      required: true
      schema:
        $ref: '#/components/schemas/ExchangeId'
      style: simple
    optionalExchangeIdParam:
      description: Exchange ID to query
      explode: true
      in: query
      name: exchange_id
      required: false
      schema:
        $ref: '#/components/schemas/ExchangeId'
      style: form
    requiredExchangeIdParam:
      description: Exchange ID to query
      explode: true
      in: query
      name: exchange_id
      required: true
      schema:
        $ref: '#/components/schemas/ExchangeId'
      style: form
    optionalApikeyParam:
      description: The API Key for the exchange
      example: d8f062da-39f4-4a11-8b9d-12595854237f
      explode: true
      in: query
      name: apikey
      required: false
      schema:
        type: string
      style: form
    optionalSecretParam:
      description: The API Secret for the exchange.
      example: 75B4F636193162488A3728B4A5797708
      explode: true
      in: query
      name: secret
      required: false
      schema:
        type: string
      style: form
    optionalPassphraseParam:
      description: The API passphrase for the exchange wallet.
      example: A3DBHJV
      explode: true
      in: query
      name: passphrase
      required: false
      schema:
        type: string
      style: form
    optionalRequestIdParam:
      description: Request ID
      example: web_send_by_user_327_1610444045047
      explode: true
      in: query
      name: request_id
      required: false
      schema:
        type: string
      style: form
    transactionIdParam:
      description: Unique id of the transaction
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      explode: false
      in: path
      name: transaction_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    webhookEventIdParam:
      description: "Unique id of the webhook event, get event IDs by calling `List\
        \ triggered events`."
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
      explode: false
      in: path
      name: event_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
  requestBodies:
    createWalletBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreatedWallet'
      description: The request body to create a wallet
    UpdateWalletBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/update_wallet_by_id_request'
      description: The request body to update a wallet
    createAddressBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/add_wallet_address_request'
      description: The request body to add address for a wallet
    createKeyGroupBody:
      content:
        application/json:
          schema:
[...]
