openapi: 3.0.3
info:
  contact:
    email: support@cobo.com
    name: Cobo WaaS
    url: https://www.cobo.com/waas
  description: |
    Cobo WaaS 2.0 enables you to programmatically access Cobo's full suite of
    crypto wallet technologies with powerful and flexible access controls.

    # Wallet technologies
    - Custodial Wallet
    - MPC Wallet
    - Smart Contract Wallet (Based on Safe{Wallet}, to be supported later)
    - Exchange Wallet(To be supported later)

    # Risk Control technologies
    - Workflow
    - Access Control List (ACL)

    # Risk Control targets
    - Wallet Management
      - User/team and their permission management
      - Risk control configurations, e.g. whitelist, blacklist, rate-limiting etc.
    - Blockchain Interaction
      - Crypto transfer
      - Smart Contract Invocation

    # Important
    HTTPS only. RESTful, resource oriented

    # Get Started
    Set up your APIs or get authorization

    # Authentication and Authorization
    CoboAuth

    # Request and Response
    application/json

    # Error Handling

    ### Common error codes
    | Error Code | Description |
    | -- | -- |
    | `2000` | Internal error |
    | `2002` | Unsupported HTTP method |
    | `2003` | Missing required parameters |
    | `2006` | Illegal parameter format or value |
    | `2010` | Exceeded frequency limit |
    | `2020` | Missing action |
    | `2021` | Missing handler |
    | `2022` | Missing required request header |
    | `2023` | Verification failed |
    | `2024` | Authentication failed |
    | `2025` | Forbidden |
    | `2026` | Too many requests |
    | `2027` | Exceed quota limit |
    | `2028` | Not found |
    | `2029` | Invalid status |
    | `2040` | Duplicated key |

    ### API-specific error codes
    For error codes that are dedicated to a specific API, see the Error codes section in each API specification, for example, /v2/wallets.

    # Rate and Usage Limiting

    # Pagination
    # Support
    [Developer Hub](https://cobo.com/developers)
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://cobo.com/waas/tos/
  title: Cobo Wallet as a Service 2.0
  version: 1.0.0
servers:
- description: Production environment
  url: https://api.cobo.com/v2
- description: Development environment
  url: https://api.dev.cobo.com/v2
security:
- CoboAuth: []
tags:
- description: Operations related to all wallets.
  name: Wallets
- description: Operations related to mpc wallet.
  name: Wallets - MPC Wallet
- description: Operations related to all transactions.
  name: Transactions
- description: Operations related to webhooks.
  name: Developers - Webhooks
paths:
  /wallets/chains:
    get:
      description: |
        This endpoint retrieves metadata for available blockchain chains.
        It provides details such as chain_id, name, and other relevant information.
        Pagination parameters can be used to manage the size of the response.
        The chain list is publicly accessible without any permission restrictions.

        Error codes this API may return:
          | Error Code | Description |
          | -- | -- |
          | `2006` | 参数格式或者值非法 |
      operationId: get_chains
      parameters:
      - description: Unique id of the chain
        example: ETH
        explode: true
        in: query
        name: chain_id
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of objects to return. The value range is\
          \ [1, 50]."
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `before` as `foo`, the request will retrieve a list of data objects that end before the object with the object ID `foo`. You can set this parameter to the value of `pagination.after` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `after` as `bar`, the request will retrieve a list of data objects that start after the object with the object ID `bar`. You can set this parameter to the value of `pagination.before` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_chains_200_response'
          description: Successfully listed chains
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
      security:
      - CoboAuth: []
      summary: List chain metadata
      tags:
      - Wallets
  /wallets/tokens:
    get:
      description: |
        This endpoint retrieves metadata for tokens stored in the wallet system.
        It provides details such as token_id, symbol, and other relevant information.
        Pagination parameters can be used to manage the size of the response.
        The token list is publicly accessible without any permission restrictions.

        Error codes this API may return:
          | Error Code | Description |
          | -- | -- |
          | `2006` | 参数格式或者值非法 |
      operationId: get_tokens
      parameters:
      - description: Unique id of the token
        example: ETH_USDT
        explode: true
        in: query
        name: token_id
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of objects to return. The value range is\
          \ [1, 50]."
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `before` as `foo`, the request will retrieve a list of data objects that end before the object with the object ID `foo`. You can set this parameter to the value of `pagination.after` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `after` as `bar`, the request will retrieve a list of data objects that start after the object with the object ID `bar`. You can set this parameter to the value of `pagination.before` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_tokens_200_response'
          description: Successfully listed tokens
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
      security:
      - CoboAuth: []
      summary: List token metadata
      tags:
      - Wallets
  /wallets/supported_chains:
    get:
      description: "This endpoint allows users to query supported chains based on\
        \ wallet type and subtype. \nPagination parameters can be used to manage the\
        \ response size.\nWallet type/subtype are enumerations as described in parameters.\n\
        \nError codes this API may return:\n  | Error Code | Description |\n  | --\
        \ | -- |\n  | `2006` | 参数格式或者值非法 |\n"
      operationId: get_supported_chains
      parameters:
      - description: Wallet type to query
        explode: true
        in: query
        name: wallet_type
        required: false
        schema:
          $ref: '#/components/schemas/WalletType'
        style: form
      - description: Wallet subtype to query
        explode: true
        in: query
        name: wallet_subtype
        required: false
        schema:
          $ref: '#/components/schemas/WalletSubtype'
        style: form
      - description: "The maximum number of objects to return. The value range is\
          \ [1, 50]."
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `before` as `foo`, the request will retrieve a list of data objects that end before the object with the object ID `foo`. You can set this parameter to the value of `pagination.after` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `after` as `bar`, the request will retrieve a list of data objects that start after the object with the object ID `bar`. You can set this parameter to the value of `pagination.before` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_chains_200_response'
          description: Successfully listed chains
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
      security:
      - CoboAuth: []
      summary: List supported chains
      tags:
      - Wallets
  /wallets/supported_tokens:
    get:
      description: |
        This endpoint allows users to query supported tokens based on wallet type, subtype, and chain ID if specified.
        Pagination parameters can be used to manage the response size.
        Wallet type/subtype are enumerations as described in parameters.
        Chain_id can be get via List supported chains.

        Error codes this API may return:
          | Error Code | Description |
          | -- | -- |
          | `2006` | 参数格式或者值非法 |
      operationId: get_supported_tokens
      parameters:
      - description: Wallet type to query
        explode: true
        in: query
        name: wallet_type
        required: false
        schema:
          $ref: '#/components/schemas/WalletType'
        style: form
      - description: Wallet subtype to query
        explode: true
        in: query
        name: wallet_subtype
        required: false
        schema:
          $ref: '#/components/schemas/WalletSubtype'
        style: form
      - description: Unique id of the chain
        example: ETH
        explode: true
        in: query
        name: chain_id
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of objects to return. The value range is\
          \ [1, 50]."
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `before` as `foo`, the request will retrieve a list of data objects that end before the object with the object ID `foo`. You can set this parameter to the value of `pagination.after` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `after` as `bar`, the request will retrieve a list of data objects that start after the object with the object ID `bar`. You can set this parameter to the value of `pagination.before` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_tokens_200_response'
          description: Successfully listed tokens
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
      security:
      - CoboAuth: []
      summary: List supported tokens
      tags:
      - Wallets
  /wallets/enabled_chains:
    get:
      description: "This endpoint allows users to query enabled chains based on wallet\
        \ type and subtype \nfor the organization associated with the API key.\nPagination\
        \ parameters can be used to manage the response size.\nWallet type/subtype\
        \ are enumerations as described in parameters.\n\nError codes this API may\
        \ return:\n  | Error Code | Description |\n  | -- | -- |\n  | `2006` | 参数格\
        式或者值非法 |\n"
      operationId: get_enabled_chains
      parameters:
      - description: Wallet type to query
        explode: true
        in: query
        name: wallet_type
        required: false
        schema:
          $ref: '#/components/schemas/WalletType'
        style: form
      - description: Wallet subtype to query
        explode: true
        in: query
        name: wallet_subtype
        required: false
        schema:
          $ref: '#/components/schemas/WalletSubtype'
        style: form
      - description: "The maximum number of objects to return. The value range is\
          \ [1, 50]."
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `before` as `foo`, the request will retrieve a list of data objects that end before the object with the object ID `foo`. You can set this parameter to the value of `pagination.after` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `after` as `bar`, the request will retrieve a list of data objects that start after the object with the object ID `bar`. You can set this parameter to the value of `pagination.before` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_chains_200_response'
          description: Successfully listed chains
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
      security:
      - CoboAuth: []
      summary: List enabled chains
      tags:
      - Wallets
  /wallets/enabled_tokens:
    get:
      description: "This endpoint allows users to query enabled tokens based on wallet\
        \ type, subtype, \nand chain ID if specified for the organization associated\
        \ with the API key.\nPagination parameters can be used to manage the response\
        \ size.\nWallet type/subtype are enumerations as described in parameters.\n\
        Chain_id can be get via List enabled chains.\n\nError codes this API may return:\n\
        \  | Error Code | Description |\n  | -- | -- |\n  | `2006` | 参数格式或者值非法 |\n"
      operationId: get_enabled_tokens
      parameters:
      - description: Wallet type to query
        explode: true
        in: query
        name: wallet_type
        required: false
        schema:
          $ref: '#/components/schemas/WalletType'
        style: form
      - description: Wallet subtype to query
        explode: true
        in: query
        name: wallet_subtype
        required: false
        schema:
          $ref: '#/components/schemas/WalletSubtype'
        style: form
      - description: Unique id of the chain
        example: ETH
        explode: true
        in: query
        name: chain_id
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of objects to return. The value range is\
          \ [1, 50]."
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `before` as `foo`, the request will retrieve a list of data objects that end before the object with the object ID `foo`. You can set this parameter to the value of `pagination.after` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `after` as `bar`, the request will retrieve a list of data objects that start after the object with the object ID `bar`. You can set this parameter to the value of `pagination.before` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_tokens_200_response'
          description: Successfully listed tokens
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
      security:
      - CoboAuth: []
      summary: List enabled tokens
      tags:
      - Wallets
  /wallets:
    get:
      description: |
        Retrieves a list of all wallets.

        This endpoint allows filtering by wallet type, subtype, and MPC vault ID (if applicable).

        Error codes this API may return:
              | Error Code | Description |
              | -- | -- |
              | `2006` | 参数格式或者值非法 |
      operationId: list_wallets
      parameters:
      - description: Wallet type to query
        explode: true
        in: query
        name: wallet_type
        required: false
        schema:
          $ref: '#/components/schemas/WalletType'
        style: form
      - description: Wallet subtype to query
        explode: true
        in: query
        name: wallet_subtype
        required: false
        schema:
          $ref: '#/components/schemas/WalletSubtype'
        style: form
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: true
        in: query
        name: vault_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: "The maximum number of objects to return. The value range is\
          \ [1, 50]."
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `before` as `foo`, the request will retrieve a list of data objects that end before the object with the object ID `foo`. You can set this parameter to the value of `pagination.after` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `after` as `bar`, the request will retrieve a list of data objects that start after the object with the object ID `bar`. You can set this parameter to the value of `pagination.before` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_wallets_200_response'
          description: Successfully listed wallets
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized. Please provide valid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden. You do not have permission to access to the requested
            resource.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests.
      security:
      - CoboAuth: []
      summary: List all wallets
      tags:
      - Wallets
    post:
      description: |
        Creates a new wallet with the provided information.

        Error codes this API may return:
        | Error Code | Description |
        | -- | -- |
        | `2003` | 必选参数缺失 |
        | `2006` | 参数格式或者值非法 |
      operationId: create_wallet
      requestBody:
        $ref: '#/components/requestBodies/createWalletBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletInfo'
          description: Successfully created wallet
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized. Please provide valid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden. You do not have permission to access to the requested
            resource.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests.
      security:
      - CoboAuth: []
      summary: Create new wallet
      tags:
      - Wallets
  /wallets/{wallet_id}:
    delete:
      description: |
        Deletes a specific wallet identified by its ID.
        This endpoint is supported by Exchange wallets only.

        Error codes this API may return:
        | Error Code | Description |
        | -- | -- |
        | `2006` | 参数格式或者值非法 |
      operationId: delete_wallet_by_id
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Resource successfully deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
      security:
      - CoboAuth: []
      summary: Delete wallet by ID
      tags:
      - Wallets
    get:
      description: |
        Retrieves detailed information about a wallet identified by its unique ID.

        Error codes this API may return:
          | Error Code | Description |
          | -- | -- |
          | `2006` | 参数格式或者值非法 |
      operationId: get_wallet_by_id
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletInfo'
          description: Successful get a wallet info
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
      security:
      - CoboAuth: []
      summary: Retrieve wallet information by ID
      tags:
      - Wallets
    put:
      description: |
        Updates information for a specific wallet identified by its ID.
        This endpoint is supported by Exchange wallets only.

        Error codes this API may return:
        | Error Code | Description |
        | -- | -- |
        | `2006` | 参数格式或者值非法 |
      operationId: update_wallet_by_id
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/updateWalletBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletInfo'
          description: Successfully updated address
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
      security:
      - CoboAuth: []
      summary: Update wallet by ID
      tags:
      - Wallets
  /wallets/{wallet_id}/spendables:
    get:
      description: |
        Retrieves a list of spendable unspent transaction outputs (UTXOs) for a given wallet and token.
        This endpoint allows users to query UTXOs that can be spent in transactions.

        Error codes this API may return:
          | Error Code | Description |
          | -- | -- |
          | `2006` | 参数格式或者值非法 |
      operationId: get_spendable_list
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the token
        example: ETH_USDT
        explode: true
        in: query
        name: token_id
        required: true
        schema:
          type: string
        style: form
      - description: address
        example: 2N2xFZtbCFB6Nb3Pj9Sxsx5mX2fxX3yEgkE
        explode: true
        in: query
        name: address_str
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UTXO'
                type: array
          description: Successfully listed utxo
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
      security:
      - CoboAuth: []
      summary: List spendable UTXOs
      tags:
      - Wallets
  /wallets/{wallet_id}/max_transferable_value:
    get:
      description: |
        Retrieves the maximum transferable value and the corresponding transaction fee for a given address.
        This endpoint allows users to determine the maximum amount that can be transferred from a wallet address,
        along with the associated transaction fee.

        Error codes this API may return:
            | Error Code | Description |
            | -- | -- |
            | `2006` | 参数格式或者值非法 |
      operationId: get_max_transferable_value
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: address
        example: 2N2xFZtbCFB6Nb3Pj9Sxsx5mX2fxX3yEgkE
        explode: true
        in: query
        name: to_address
        required: true
        schema:
          type: string
        style: form
      - description: address
        example: 2N2xFZtbCFB6Nb3Pj9Sxsx5mX2fxX3yEgkE
        explode: true
        in: query
        name: from_address
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxTransferableValue'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
      security:
      - CoboAuth: []
      summary: Get max transferable value
      tags:
      - Wallets
  /wallets/{wallet_id}/addresses:
    get:
      description: |
        Retrieve a list of addresses associated with a wallet.

        Error codes this API may return:
          | Error Code | Description |
          | -- | -- |
          | `2006` | 参数格式或者值非法 |
      operationId: list_addresses
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the token
        example: ETH_USDT
        explode: true
        in: query
        name: token_id
        required: false
        schema:
          type: string
        style: form
      - description: address
        example: 2N2xFZtbCFB6Nb3Pj9Sxsx5mX2fxX3yEgkE
        explode: true
        in: query
        name: address_str
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of objects to return. The value range is\
          \ [1, 50]."
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `before` as `foo`, the request will retrieve a list of data objects that end before the object with the object ID `foo`. You can set this parameter to the value of `pagination.after` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `after` as `bar`, the request will retrieve a list of data objects that start after the object with the object ID `bar`. You can set this parameter to the value of `pagination.before` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_addresses_200_response'
          description: Successfully listed addresses
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
      security:
      - CoboAuth: []
      summary: List wallet addresses by wallet ID
      tags:
      - Wallets
    post:
      description: |
        Add an address to a wallet.

        Error codes this API may return:
        | Error Code | Description |
        | -- | -- |
        | `2006` | 参数格式或者值非法 |
      operationId: add_wallet_address
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/createAddressBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AddressInfo'
                type: array
          description: Successfully created address for a wallet
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
      security:
      - CoboAuth: []
      summary: Add address to wallet
      tags:
      - Wallets
  /wallets/address/validity:
    get:
      description: |
        Verifies if the given address is valid for the specified token.
        Error codes this API may return:
          | Error Code | Description |
          | -- | -- |
          | `2006` | 参数格式或者值非法 |
      operationId: get_address_validity
      parameters:
      - description: Unique id of the token
        example: ETH_USDT
        explode: true
        in: query
        name: token_id
        required: true
        schema:
          type: string
        style: form
      - description: The address string
        example: 0x0000000000000000000000000000000000000000
        explode: true
        in: query
        name: address_str
        required: true
        schema:
          description: Then blockchain address
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_address_validity_200_response'
          description: Successfully get address validity
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
      security:
      - CoboAuth: []
      summary: Check address validity
      tags:
      - Wallets
  /wallets/{wallet_id}/tokens:
    get:
      description: |
        Retrieves a list of token balances within a wallet.
        This endpoint allows users to query token balances based on the wallet ID and optionally token ID.
        Pagination parameters can be used to manage the response size.
        This endpoint is supported by Custodial/MPC wallets.

        Error codes this API may return:
          | Error Code | Description |
          | -- | -- |
          | `2006` | 参数格式或者值非法 |
      operationId: get_wallet_token_balances
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the token
        example: ETH_USDT
        explode: true
        in: query
        name: token_id
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of objects to return. The value range is\
          \ [1, 50]."
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `before` as `foo`, the request will retrieve a list of data objects that end before the object with the object ID `foo`. You can set this parameter to the value of `pagination.after` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `after` as `bar`, the request will retrieve a list of data objects that start after the object with the object ID `bar`. You can set this parameter to the value of `pagination.before` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_wallet_token_balances_200_response'
          description: Successfully listed tokens
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
      security:
      - CoboAuth: []
      summary: List Token Balances in Wallet
      tags:
      - Wallets
  /wallets/{wallet_id}/addresses/{address_id}/tokens:
    get:
      description: |
        Retrieves a list of token balances for a specific address within a wallet.
        This endpoint allows users to query token balances based on the wallet ID, address ID, and optionally token ID.
        Pagination parameters can be used to manage the response size.
        This endpoint is supported by MPC wallets.

        Error codes this API may return:
            | Error Code | Description |
            | -- | -- |
            | `2006` | 参数格式或者值非法 |
      operationId: get_wallet_address_token_balances
      parameters:
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: wallet_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the address
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: address_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the token
        example: ETH_USDT
        explode: true
        in: query
        name: token_id
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of objects to return. The value range is\
          \ [1, 50]."
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `before` as `foo`, the request will retrieve a list of data objects that end before the object with the object ID `foo`. You can set this parameter to the value of `pagination.after` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `after` as `bar`, the request will retrieve a list of data objects that start after the object with the object ID `bar`. You can set this parameter to the value of `pagination.before` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_wallet_token_balances_200_response'
          description: Successfully listed tokens
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
      security:
      - CoboAuth: []
      summary: List Token Balances by Address in Wallet
      tags:
      - Wallets
  /wallets/mpc/cobo_key_holders:
    get:
      description: Retrieve a list of key holders.
      operationId: list_cobo_key_holder
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/KeyHolder'
                type: array
          description: Successfully listed mpc tss groups
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unknown internal error.
      security:
      - CoboAuth: []
      summary: List all cobo key holders
      tags:
      - Wallets - MPC Wallet
  /wallets/mpc/projects:
    get:
      description: Retrieve a list of mpc project.
      operationId: list_mpc_project
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MPCProject'
                type: array
          description: Successfully listed mpc projects
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized. Please provide valid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden. You do not have permission to access to the requested
            resource.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests.
      security:
      - CoboAuth: []
      summary: List all mpc projects
      tags:
      - Wallets - MPC Wallet
    post:
      description: create a mpc project
      operationId: create_mpc_project
      requestBody:
        $ref: '#/components/requestBodies/createMpcProjectBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MPCProject'
          description: mpc project successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
      security:
      - CoboAuth: []
      summary: Create a mpc project
      tags:
      - Wallets - MPC Wallet
  /wallets/mpc/projects/{project_id}:
    get:
      description: get a mpc vault
      operationId: get_mpc_project
      parameters:
      - description: Unique id of the mpc project
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MPCProject'
          description: Successfully listed mpc vaults
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unknown internal error.
      security:
      - CoboAuth: []
      summary: get a mpc project
      tags:
      - Wallets - MPC Wallet
    put:
      description: update a mpc vault
      operationId: update_mpc_project
      parameters:
      - description: Unique id of the mpc project
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/updateProjectBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MPCProject'
          description: Successfully listed mpc vaults
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unknown internal error.
      security:
      - CoboAuth: []
      summary: update a mpc project
      tags:
      - Wallets - MPC Wallet
  /wallets/mpc/vaults:
    get:
      description: Retrieve a list of mpc vault.
      operationId: list_mpc_vault
      parameters:
      - description: Unique id of the mpc project
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: true
        in: query
        name: project_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MPCVault'
                type: array
          description: Successfully listed mpc vaults
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized. Please provide valid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden. You do not have permission to access to the requested
            resource.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests.
      security:
      - CoboAuth: []
      summary: List all mpc vaults
      tags:
      - Wallets - MPC Wallet
    post:
      description: create a mpc vault
      operationId: create_mpc_vault
      requestBody:
        $ref: '#/components/requestBodies/createMpcVaultBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MPCVault'
          description: mpc vault successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
      security:
      - CoboAuth: []
      summary: Create a mpc vault
      tags:
      - Wallets - MPC Wallet
  /wallets/mpc/vaults/{vault_id}:
    get:
      description: get a mpc vault
      operationId: get_mpc_vault
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MPCVault'
          description: Successfully get mpc vault
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unknown internal error.
      security:
      - CoboAuth: []
      summary: get a mpc vault
      tags:
      - Wallets - MPC Wallet
    put:
      description: modify a mpc vault
      operationId: modify_mpc_vault
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/updateVaultBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MPCVault'
          description: Successfully modify mpc vault
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized. Please provide valid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden. You do not have permission to access to the requested
            resource.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests.
      security:
      - CoboAuth: []
      summary: Modify a mpc vault
      tags:
      - Wallets - MPC Wallet
  /wallets/mpc/vaults/{vault_id}/key_groups:
    get:
      description: Retrieve a list of mpc key groups.
      operationId: list_key_group
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The type of key group.
        explode: true
        in: query
        name: key_group_type
        required: false
        schema:
          $ref: '#/components/schemas/KeyGroupType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/KeyGroup'
                type: array
          description: Successfully listed mpc tss groups
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized. Please provide valid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden. You do not have permission to access to the requested
            resource.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests.
      security:
      - CoboAuth: []
      summary: List all mpc key groups
      tags:
      - Wallets - MPC Wallet
    post:
      description: create a mpc key group.
      operationId: create_key_group
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/createKeyGroupBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyGroup'
          description: mpc vault successfully created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized. Please provide valid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden. You do not have permission to access to the requested
            resource.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests.
      security:
      - CoboAuth: []
      summary: create a mpc key group
      tags:
      - Wallets - MPC Wallet
  /wallets/mpc/vaults/{vault_id}/key_groups/{key_group_id}:
    delete:
      description: delete a mpc key group.
      operationId: delete_key_group
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the tss group
        example: "880311524363903326"
        explode: false
        in: path
        name: key_group_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyGroup'
          description: Successfully deleted mpc tss group
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized. Please provide valid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden. You do not have permission to access to the requested
            resource.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests.
      security:
      - CoboAuth: []
      summary: delete a mpc key group
      tags:
      - Wallets - MPC Wallet
    get:
      description: get a mpc key group.
      operationId: get_key_group
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the tss group
        example: "880311524363903326"
        explode: false
        in: path
        name: key_group_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyGroup'
          description: Successfully get mpc tss group
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unknown internal error.
      security:
      - CoboAuth: []
      summary: get a mpc key group
      tags:
      - Wallets - MPC Wallet
    put:
      description: update a mpc key group.
      operationId: update_key_group
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the tss group
        example: "880311524363903326"
        explode: false
        in: path
        name: key_group_id
        required: true
        schema:
          type: string
        style: simple
      - description: The action of update key group
        explode: true
        in: query
        name: update_key_group_action
        required: true
        schema:
          description: the action of tss request.
          enum:
          - UpgradeToMainKeyGroup
          example: UpgradeToMainKeyGroup
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyGroup'
          description: Successfully modify mpc tss group
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized. Please provide valid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden. You do not have permission to access to the requested
            resource.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests.
      security:
      - CoboAuth: []
      summary: update a mpc key group
      tags:
      - Wallets - MPC Wallet
  /wallets/mpc/vaults/{vault_id}/tss_requests:
    get:
      description: Detailed description on retrieving list of tss request information
      operationId: list_tss_request
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The target key group id of tss request.
        example: "880311524363903326"
        explode: true
        in: query
        name: target_key_group_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSSRequest'
          description: get mpc tss request successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unknown internal error.
      security:
      - CoboAuth: []
      summary: List tss request information of a vault
      tags:
      - Wallets - MPC Wallet
    post:
      description: Create a tss request to generate key secrets for a tss group
      operationId: create_tss_request
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/createTssRequestBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSSRequest'
          description: mpc vault successfully created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized. Please provide valid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden. You do not have permission to access to the requested
            resource.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests.
      security:
      - CoboAuth: []
      summary: Create a tss request to generate key secrets for a tss group
      tags:
      - Wallets - MPC Wallet
  /wallets/mpc/vaults/{vault_id}/tss_requests/{tss_request_id}:
    get:
      description: get a tss request.
      operationId: get_tss_request
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the tss request
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: tss_request_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSSRequest'
          description: get mpc tss request successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unknown internal error.
      security:
      - CoboAuth: []
      summary: get a tss request
      tags:
      - Wallets - MPC Wallet
    put:
      description: cancel tss request.
      operationId: cancel_tss_request
      parameters:
      - description: Unique id of the mpc vault
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: vault_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Unique id of the tss request
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: tss_request_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The action of tss request.
        explode: true
        in: query
        name: tss_request_action
        required: true
        schema:
          description: the action of tss request.
          enum:
          - cancel
          example: cancel
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TSSRequest'
          description: modify mpc tss request successfully
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized. Please provide valid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden. You do not have permission to access to the requested
            resource.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests.
      security:
      - CoboAuth: []
      summary: cancel tss request
      tags:
      - Wallets - MPC Wallet
  /transactions/fee_price:
    get:
      description: Retrieve the fee price data.
      operationId: get_chain_fee_price
      parameters:
      - description: Unique id of the chain
        example: ETH
        explode: true
        in: query
        name: chain_id
        required: false
        schema:
          type: string
        style: form
      - description: Unique id of the token
        example: ETH_USDT
        explode: true
        in: query
        name: token_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainFeePrice'
          description: Successful get chain fee info
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
      security:
      - CoboAuth: []
      summary: "Get the fee price data for chain and/or token(Hold, TBD after normalize\
        \ fee settings)"
      tags:
      - Transactions
  /transactions/estimate_fee:
    post:
      description: Estimate the transaction fee.
      operationId: estimate_fee
      requestBody:
        $ref: '#/components/requestBodies/estimateFeeBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionFee'
          description: Successful get a transaction detail
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
      security:
      - CoboAuth: []
      summary: Estimate the fee for transaction
      tags:
      - Transactions
  /transactions/transfer:
    post:
      description: Create a transaction to transfer funds from one account to another.
      operationId: create_transfer_transaction
      requestBody:
        $ref: '#/components/requestBodies/createTransferBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_transfer_transaction_201_response'
          description: Successful create a smart contract call request
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
      security:
      - CoboAuth: []
      summary: Create a transfer transaction
      tags:
      - Transactions
  /transactions/contract_call:
    post:
      description: Create a transaction to call a smart contract.
      operationId: create_smart_contract_call_transaction
      requestBody:
        $ref: '#/components/requestBodies/createSmartContractCallBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_transfer_transaction_201_response'
          description: Successful create a smart contract call request
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
      security:
      - CoboAuth: []
      summary: Create a smart contract call transaction
      tags:
      - Transactions
  /transactions:
    get:
      description: Retrieve a list of transactions.
      operationId: list_transactions
      parameters:
      - description: Request ID
        example: web_send_by_user_327_1610444045047
        explode: true
        in: query
        name: request_id
        required: false
        schema:
          type: string
        style: form
      - description: Cobo ID
        example: "20231213122855000000000000000000"
        explode: true
        in: query
        name: cobo_id
        required: false
        schema:
          type: string
        style: form
      - description: Unique id of the transaction
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: true
        in: query
        name: transaction_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Transaction hash
        example: 239861be9a4afe080c359b7fe4a1d035945ec46256b1a0f44d1267c71de8ec28
        explode: true
        in: query
        name: transaction_hash
        required: false
        schema:
          type: string
        style: form
      - description: The type of a transaction
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/TransactionType'
        style: form
      - description: The status of a transaction
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/TransactionStatus'
        style: form
      - description: Unique id of the wallet
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: true
        in: query
        name: wallet_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Unique id of the chain
        example: ETH
        explode: true
        in: query
        name: chain_id
        required: false
        schema:
          type: string
        style: form
      - description: Unique id of the token
        example: ETH_USDT
        explode: true
        in: query
        name: token_id
        required: false
        schema:
          type: string
        style: form
      - description: Unique id of the asset
        example: USDT
        explode: true
        in: query
        name: asset_id
        required: false
        schema:
          type: string
        style: form
      - description: The minimum transaction creation timestamp in Unix epoch seconds
        example: 1635744000
        explode: true
        in: query
        name: min_created_timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: The maximum transaction creation timestamp in Unix epoch seconds
        example: 1635744000
        explode: true
        in: query
        name: max_created_timestamp
        required: false
        schema:
          type: integer
        style: form
      - description: Field of sort by
        example: timestamp
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Direction to sort by
        example: ASC
        explode: true
        in: query
        name: direction
        required: false
        schema:
          default: ""
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: "The maximum number of objects to return. The value range is\
          \ [1, 50]."
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `before` as `foo`, the request will retrieve a list of data objects that end before the object with the object ID `foo`. You can set this parameter to the value of `pagination.after` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `after` as `bar`, the request will retrieve a list of data objects that start after the object with the object ID `bar`. You can set this parameter to the value of `pagination.before` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_transactions_200_response'
          description: Successfully listed transactions
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized. Please provide valid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden. You do not have permission to access to the requested
            resource.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests.
      security:
      - CoboAuth: []
      summary: List all transactions
      tags:
      - Transactions
  /transactions/{transaction_id}:
    get:
      description: Detailed description on retrieving transaction information by id
      operationId: get_transaction_by_id
      parameters:
      - description: Unique id of the transaction
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
          description: Successful get a transaction detail
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
      security:
      - CoboAuth: []
      summary: Get transaction information by ID
      tags:
      - Transactions
  /transactions/{transaction_id}/resend:
    post:
      description: Resend a transaction.
      operationId: resend_transaction_by_id
      parameters:
      - description: Unique id of the transaction
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_transfer_transaction_201_response'
          description: Successful create a smart contract call request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
      security:
      - CoboAuth: []
      summary: Resend a transaction by ID
      tags:
      - Transactions
  /transactions/{transaction_id}/drop:
    post:
      description: Drop a transaction.
      operationId: drop_transaction_by_id
      parameters:
      - description: Unique id of the transaction
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/feeRequestBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_transfer_transaction_201_response'
          description: Successful create a smart contract call request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
      security:
      - CoboAuth: []
      summary: Drop a transaction by ID
      tags:
      - Transactions
  /transactions/{transaction_id}/speedup:
    post:
      description: Speed up a transaction.
      operationId: speedup_transaction_by_id
      parameters:
      - description: Unique id of the transaction
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/feeRequestBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_transfer_transaction_201_response'
          description: Successful create a smart contract call request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
      security:
      - CoboAuth: []
      summary: Speed up a transaction by ID
      tags:
      - Transactions
  /transactions/{transaction_id}/callback_confirmation/retry:
    post:
      description: Retry a transaction double-check.
      operationId: retry_transaction_double_check_by_id
      parameters:
      - description: Unique id of the transaction
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_transfer_transaction_201_response'
          description: Successful create a smart contract call request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
      security:
      - CoboAuth: []
      summary: Retry up a transaction double-check by ID
      tags:
      - Transactions
  /webhooks/events:
    get:
      description: |
        This operation retrieves a list of webhook events that have occurred within the last 30 days.

        Note: The request will only return webhook events that have occurred to the wallets associated with your current API key. For example, if the current API key is only associated with Asset Wallets, any webhook events that have occurred to an MPC Wallet will not be retrieved with the current API key.
      operationId: list_events
      parameters:
      - description: |
          The event status. Possible values include:
          - `Success`: The event has been delivered, and the webhook endpoint has responded to the event.
          - `Retrying`: The event has been delivered, but the webhook endpoint has not responded. In this case, Cobo will retry delivering the event.
          - `Failed`: The event cannot be delivered and Cobo will stop retrying. This may occur if the number of retries reaches 10, or if the event has been delivered but the webhook endpoint responded with an error.
        example: Success
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/WebhookEventStatus'
        style: form
      - description: |
          The event type.
        example: asset_wallet.outbound.created
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/WebhookEventType'
        style: form
      - description: "The maximum number of objects to return. The value range is\
          \ [1, 50]."
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `before` as `foo`, the request will retrieve a list of data objects that end before the object with the object ID `foo`. You can set this parameter to the value of `pagination.after` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: |-
          An object ID which serves as a cursor for pagination. For example, if you specify `after` as `bar`, the request will retrieve a list of data objects that start after the object with the object ID `bar`. You can set this parameter to the value of `pagination.before` in the response of the previous request.
          If you set both `after` or `before`, only the setting of `before` will take effect.
        example: 8f2e919a-6a7b-4a9b-8c1a-4c0b3f5b8b1f
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_events_200_response'
          description: A list of webhook events has been successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized. Please provide valid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden. You do not have permission to access to the requested
            resource.
      summary: List all events
      tags:
      - Developers - Webhooks
  /webhooks/events/{event_id}:
    get:
      description: |
        This operation retrieves the information of a webhook event by the event ID.
      operationId: get_webhook_event
      parameters:
      - description: "The event ID. You can obtain a list of event IDs by calling\
          \ [List all events](/api-references/v2/developers--webhooks/list-all-events)."
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEvent'
          description: The webhook event information is successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized. Please provide valid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden. You do not have permission to access to the requested
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
      summary: Retrieve event by ID
      tags:
      - Developers - Webhooks
  /webhooks/events/{event_id}/logs:
    get:
      description: |
        This operation retrieves a list of webhook event logs by event ID. Each retry will generate a separate event log.
      operationId: get_webhook_event_logs
      parameters:
      - description: "The event ID. You can obtain a list of event IDs by calling\
          \ [List all events](/api-references/v2/developers--webhooks/list-all-events)."
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WebhookEventLog'
                type: array
          description: The request was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized. Please provide valid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden. You do not have permission to access to the requested
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
      summary: List event logs by ID
      tags:
      - Developers - Webhooks
  /webhooks/events/{event_id}/retry:
    post:
      description: |
        This operation retries delivering a webhook event with the specified event ID. You can only retry delivering a webhook event in the `Retrying` or `Failed` status.
      operationId: retry_webhook_event
      parameters:
      - description: "The event ID. You can obtain a list of event IDs by calling\
          \ [List all events](/api-references/v2/developers--webhooks/list-all-events)."
        example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retry_webhook_event_201_response'
          description: The request was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Your request contains malformed syntax or invalid
            parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized. Please provide valid credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden. You do not have permission to access to the requested
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found.
      summary: Retry event by ID
      tags:
      - Developers - Webhooks
components:
  parameters:
    sortByParam:
      description: Field of sort by
      example: timestamp
      explode: true
      in: query
      name: sort_by
      required: false
      schema:
        default: ""
        type: string
      style: form
    directionParam:
      description: Direction to sort by
      example: ASC
      explode: true
      in: query
      name: direction
      required: false
      schema:
        default: ""
        enum:
        - ASC
        - DESC
        type: string
      style: form
    limitParam:
      description: "The maximum number of objects to return. The value range is [1,\
        \ 50]."
      example: 10
      explode: true
      in: query
      name: limit
      required: false
      schema:
[...]
